body {
    /* margin: 0px; */
    font-family: sans-serif;
}

header {
    width: 100%;
    background: rgb(224, 171, 70);
    height: 50px;
    position: fixed;
    /* padding: 15px 0px; */
    top: 0px;
    z-index: 10;
    left: 0px;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(245, 208, 139);
}

/* igual afecta el logo header .container img{
    width: 200px;
} */

header .container nav a{
    color: rgb(248, 154, 120);
    margin: 0px 15px;
}

/*Para el logo*/
header img {
    float: right;
    width: 150px;
    height: 60px;
    padding-right: 0px;
}

#inicio img{
    height: 600px;
    margin-bottom: 50px;
}

#inicio {
    position: relative;
}

/* #inicio img {
    width: 100%;
    display: block;
} */

#inicio .bloque-inicio {
    /*
    Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio del elemento con position: absolute
    */
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}

#inicio .bloque-inicio h1 {
    color: white;
    font-size: 40px;
}

#inicio .bloque-inicio p {
    color: white;
    font-size: 20px;
}

#servicio .container h1{
    color: black;
    font-size: 40px;
}

#servicio .espacio-servicio img{
    height: 300px;
    
}

/*Para ordenar las imagenes de servicio*/
.espacio-servicio{
    width: 40%;
    display:inline-block;
    margin: 3%;

}

.espacio-productos{
    width: 40%;
    display:inline-block;
    margin: 3%;
}


#servicio .espacio-contenido-servicio h1{
    font-size: 30px;
}



#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
}

.menu li {
    border-right: 1px solid #fff;
}

/*Para el cursor cuando se hace responsivo el color del cursor es este*/
.menu li:hover {
    background: rgb(245, 208, 139);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
} 

main {
    padding: 20px;
}

main img {
    width: 100%;
    height: 50%;
}

/*Para el logo de imagenes los fabicos*/
.columna {
    padding-right: 15px;
    padding-left: 15px;
} 
/*este esta afectando el tamaño del formulario de contactos*/
.columna-41 {
    width: 41.66%;
}

/**/
.columna-25 {
    width: 25%;
}
  
/*este es para mover el formulario a la derecha*/
/* .empujar-58 {
    margin-left: 58.33%;
} */

/*Para el formulario, con el relativo hace que se mueva con el formulario, como no 
esta con imagen es por eso que este estilo no me sirve a menos que ponga el mapa*/
/* #contactenos {
  position:relative;
}*/

/*Para el formulario sus diseños*/
#contactenos iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#contactenos form {
  padding: 60px;
  background-color: aqua;
}

#contactenos #formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#contactenos #formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 100%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

#contactenos #formulario-contacto .form-block.bloque-ultimo {
  margin-bottom: 0;
}

/*Validacion del formulario*/

.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  display: none;
}

.formulario-input-error-activo {
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  /* color: white; */
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}
/*Hasta aqui valida el formulario*/

footer{
    /* padding-top: 60px; */
    /*margin-top: 350px; */
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgb(245, 208, 139);
}

/*es para el derechos reservados*/
footer .barra-footer {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    /* background-color: black;
    color: white; */
}

/*es para los logos de imagenes(como es blanco y lo ponemos fondo no nos combiene)*/
/* footer a {
  color: white;
} */

/*no es necesario el font-size(para agrandar comunmente letras), con el display: flex
estamos separando las imagenes de redes sociales(pero se juntan), el que nos ayuda a 
separandolos es el justify-content: space-between(con este se separan los iconos 
de redes sociales)*/
footer .redes {
  /* font-size: 30px; */
  display: flex;
  justify-content: space-between;
}

/*los logos de face, whas, instagram*/
footer .redes a {
  /* margin: 0px 7.5px; */
  font-size: 40px;
}

footer ul {
  padding-right: 0px;
  list-style: none;
  margin: 0;
  /* background-color: blueviolet; */
}

footer ul li {
  margin-bottom: 10px;
  margin-left: -40px;
  font-size: 18px;
}

.row {
    display: flex;
    /*Si una columna no entra, esa columna va hacia abajo*/
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

@media screen and (max-width:768px){
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background: white;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu {
        margin: 0px;
    }

    header img {
        padding-right: 0px;
        height: 50px;
    }

    .container {
        width: 100%;
      }
    
    .columna-mobile-100 {
        width: 100%;
    }

    .empujar-mobile-0 {
        margin-left: 0;
    }

    .sinpadding-mobile {
        padding: 0px;
    }

    #contactenos {
        padding: 0;
    }
}

@media screen and (max-width:420px){
    main img {
        height: 50%;
        width: 50%;
    }

    header img {
        padding-right: 0px;
        height: 50px;
    }
}